V1/Bachelor Project/src/reviews/*
V1/Bachelor Project/bin/*
V1/Bachelor Project/src/yelp_academic_dataset_business.json
V2/Bachelor Project/src/reviews/*
V2/Bachelor Project/bin/*
V2/Bachelor Project/src/yelp_academic_dataset_business.json